body { 
    background-color: lightcyan;
    font-family: Arial;

}
p {
    font-family: Arial;
    text-align: left;
    /* width: 600px; */
}
    
ul {
    text-align: left;
}
li {
    text-align: left;
    font-size: 1.2em;
}
img { 
    border-color: black;
    border-width: 3px;
    border-style: solid;
    text-align: right; 
    width: 200px;
}