body { 
    background-color: whitesmoke;

}
p {
    font-family: Arial;
    text-align: left;
    /* width: 600px; */
}
    
ul {
    text-align: left;
}
li {
    text-align: left;
}
img { 
    border-color: black;
    border-width: 3px;
    border-style: solid;
    text-align: right; 
    width: 300px;
    

}

/* 
border-color: black;
border-width: 5px;
border-style: solid;
border-length: 1000px; */